{% extends 'hwApp/index.html' %}

{% block content %}
<h4 class="jumbotron">All Items</h4>
<!--all items from model-->
<table class="table">
{% for item in items_all %}
    <tr>
        <td>{{item.item_name}}</td>
        <td>{{item.item_fk}}</td>
    </tr>
{% endfor %}
</table>
<!--link to items by foreign key-->
Click <a href="{% url 'my_items' %}">here</a> to view your items
<br>
<!--link to welcome page(log out redirect)-->
Click <a href="{% url 'logout' %}">here</a> to logout
{% endblock %}
